<div id="<%= dom_id post %>" class="w-full m-5" data-controller="post">
  <h2 class="text-4xl font-bold">
    <%= post.title %>
  </h2>

  <p class="my-5 text-xl">
    <%= post.body %>
  </p>

  <div class="text-md text-gray-400 pb-5">
  ~ Tjerk, <%= time_tag post.created_at, "data-local": "time-ago" %>
  </div>

  <div class="h-10">
  
      <img src="/heart_empty.png" data-post-target="heart" data-action="click->post#like" class="w-6 ml-5 float-right">
      <img src="/heart_full.png" data-post-target="heartFull" class="w-6 ml-5 float-right hidden">

    <img src="/link.png" class="w-6 ml-5 float-right ">
  </div>
  <div class="seperator w-full border-solid border border-gray-200">
  </div>
</div>
